.nav{
  padding-top: 40px;
  display: flex;
  align-items: flex-end;
}

.selectBlock{
  font-family: $TradFont;
  margin-right: 30px;
  h1{
    @include settingFonts(40px,700);
    margin-bottom: 8px;
    line-height: 59px;
  }
  select{
    @include settingFonts(16px,700);
    border: 3px solid $borderColor;
    width: 350px;
    height: 56px;
    outline: none;
    padding-left: 20px;
    cursor: pointer;
    transition: border .3s;
    &:hover,&:focus{
      border: 3px solid orange;
    }
  }
}

.statusColorTable{
  thead{
    font-family: $EngFont;
  }
  tbody{
    font-family: $TradFont;
    background-color: white;
  }
  th, td{
    text-align: center;
    border: 3px solid $borderColor;
    width: 121.67px;
    height: 56px;
    vertical-align: middle;
    line-height: 24px;
    font-weight: 700;
  }
  td{
    transition: all .3s;
    &:hover{
      background-color: darken(white,20%);
    }
  }
}

.status{
  &.great{
    background-color: $color-great;
  }
  &.normal{
    background-color: $color-normal;
  }
  &.ok{
    background-color: $color-ok;
  }
  &.notGood{
    background-color: $color-notGood;
  }
  &.myGod{
    background-color: $color-myGod;
  }
  &.danger{
    background-color: $color-danger;
  }
}

.hrLine{
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  font-family: $TradFont;
  align-items: center;
  height: 54px;
  white-space: nowrap;
  h2{
    @include settingFonts(36px,700);
    margin-right: 13px;
  }
  p{
    margin-left: 20px;
    line-height: 24px;
  }
  .update{
    font-family: $EngFont;
    line-height: 22px;
    margin-right: 13px;
  }
  & > span{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    &:after{
      content: "";
      position:absolute;
      top: 50%;
      left: 0;
      right: 0;
      border: 1px dashed black;
    }
  }
}

.dashboard{
  display: flex;
  font-family: $TradFont;
}

.detail{
  margin-bottom: 40px;
  margin-right: 30px;
  box-shadow:4px 4px 3px rgba(black,0.5);
  transition: transform .3s;
  &:hover{
    transform: translateY(-5px);
  }
  ul{
    width: 350px;
    padding: 30px;
    background-color: white;
    border: 3px solid $borderColor;
    border-top:none;
    li{
      padding-top: 16px;
      padding-bottom: 16px;
      border-bottom: 1px solid black;
      &:first-child{
        padding-top: 0;
      }
      &:last-child{
        padding-bottom: 0;
        border-bottom:none;
      }
      p{
        display: flex;
        align-items: flex-end;
        @include settingFonts(24px,700);
        span{
          font-family: $EngFont;
          margin-left: auto;
        }
        .engName{
          margin-left: 8px;
          @include settingFonts(16px,400);
        }
      }
    }
  }
}

.miniAQI{
  display: flex;
  width: 350px;
  height: 97px;
  span{
    display: block;
    padding: 16px 39px;
    font-family: $EngFont;
    border: 3px solid $borderColor;
    line-height: 59px;
    @include settingFonts(48px, 700);
  }
  span:first-child{
    width: 100%;
    font-family: $TradFont;
    border-right:none;
    text-align: center;
    background-color: white;
    @include settingFonts(36px, 700);
    transition: background-color .3s;
    cursor: pointer;
    &:hover{
      background-color: darken(white,20%);
    }
    &:active{
      box-shadow:1px 1px 3px 2px rgba(20%,20%,40%,0.5) inset;
    }
    &.ondetail{
      cursor: default;
      &:active{
        box-shadow:none;
      }
    }
  }
}

.resultList{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-self: flex-start;
  li{
    margin-bottom: 32px;
    box-shadow:4px 4px 3px rgba(black,0.5);
    transition: transform .3s;
    &:hover{
      transform: translateY(-5px);
    }
  }
}

.fixHeight{
  min-height: calc(100vh - 34px);
}