.warp{
  position: relative;
  background-color: $bgcolor;
}
.container{
  margin: 0 auto;
  max-width: 1280px;
  padding-right: 85px;
  padding-left: 85px;
}

.footer{
  background-color: #000000;
  padding-top: 6px;
  padding-bottom: 6px;
  .footerInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#FFFFFF;
    font-family: $EngFont;
    line-height: 22px;
    h5{
      font-family: $TradFont;
    }
  }
}

.loading{
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  span{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #4b9cdb;
    margin-right: 10px;
    margin-left: 10px;
    box-shadow:2px 2px 2px rgba(#4b9cdb, 0.6),4px 4px 6px rgba(#4b9cdb,0.4),6px 6px 12px rgba(#4b9cdb,0.4);
    &:nth-last-child(1){
      animation: jump .6s .1s linear infinite;
    }
    &:nth-last-child(2){
      animation: jump .6s .2s linear infinite;
    }
    &:nth-last-child(3){
      animation: jump .6s .3s linear infinite;
    }
  }
}

@keyframes jump {
  0% { transform: translate(0,0); }
  50% { transform: translate(0,30px); }
  100% { transform: translate(0,0); }
}