$bgcolor: #F0F0F0;
$color-great:#95F084;
$color-normal:#FFE695;
$color-ok:#FFAF6A;
$color-notGood:#FF5757;
$color-myGod:#9777FF;
$color-danger:#AD1774;
$borderColor: #000000;
$TradFont:'Noto Sans TC', sans-serif;
$EngFont:'Open Sans', sans-serif;